
# Byte-compiled / optimized / DLL files
data/
*.ply
*.obj
logs_bk/
dji/project_script/ply/
dji/process_las/output_*
test/
logs_dji/
*.jpg
*.npy
*.mp4
tools/segment_anything/SAM_mask_autogenerate*
test.sh
gy/
logs_gy_313/
logs_gy_357/
zyq/
tools/segment_anything/sam_vit_b_01ec64.pth
tools/segment_anything/sam_vit_h_4b8939.pth
video
eval_test*
train_test*
logs_313
*/*/shencoder
*/*/*/build
__pycache__/
**/__pycache__
*.py[cod]
*$py.class

# C extensions
*.so
*.pyc




.idea/
.vscode/
.DS_Store
*.gif
*.pdf
__pycache__
logs_nouse
logs_zyq/
exp/
feature_map/
fly_through/
some_tools/data/
/wandb
mega_nerf/torch_ngp/*
logs_357
